/*CSS Documment*/
@charset "UTF-8";

/*Ajustes Generales*/

@font-face {
    font-family: "ClashDisplay-Extralight";
    src: url(fonts/clash-display/clash-displat-extralight.ttf) format(truetype);
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Light";
    src: url(fonts/clash-display/clash-display-light.ttf) format(truetype);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Regular";
    src: url(fonts/clash-display/clash-display-regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url(fonts/clash-display/clash-display-medium.ttf)format(truetype);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url(fonts/clash-display/clash-display-semibold.ttf) format(truetype);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Bold";
    src: url(fonts/clash-display/clash-display-bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Variable";
    src: url(fonts/clash-display/clash-display-variable.ttf) format(truetype);
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Dx Lactos";
    src: url(fonts/dxlactos-regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Ajustes especificos*/

body {
    background-color: #eaeaea; /* esto no está cambiando cosas */
}

/* HEADER */
header {
    background: linear-gradient(0deg, #6E6EFF 20%, #262223 100%);
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    /* en pantallas más grandes te van a quedar descentrados los elementos */
}

/* NAVBAR */

nav {
    min-width: 500px;
    max-width: 1446px; /* aunque establezcas min y max te hace falta especificar un width porque cuando justifiques a su padre al centro se va a achicar */
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo img {
    width: 45px;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #EAEAEA;
    font-size: 1rem;
    font-family: 'ClashDisplay-Variable';
    font-weight: 400;
    transition: 0.3s;
}

/* HOVER */
nav a:hover {
    color: #a7fc00;
}

/* HERO */

.hero {
    width: 100%;
    padding: 90px 0px; /* en lugar de acomodar esta caja con paddings podés probar con heigth en vh así responde de forma distinta en otras pantallas pero se ve exactamente igual y no tenés paddings tan grandes que te compromentan en pantallas pequeñas*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTENIDO */

.contenido {
    display: flex;
    flex-direction: column;
}

/* LINEA */

.mini-line {
    width: 30px;
    height: 4px;
    background-color: #EAEAEA;
    margin-bottom: 20px;
}

/* TEXTO */

.contenido p {
    color: #EAEAEA;
    font-size: 32px;
    margin-bottom: 20px;
}

.contenido h1 {
    color: #EAEAEA;
    font-family: 'ClashDisplay-Variable';
    font-size: 11.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.contenido h1 span {
    color: #a7fc00;
    font-family: 'Dx Lactos';
    font-size: 11.25rem;
}

.contenido h2 {
    color: #EAEAEA;
    font-family: 'ClashDisplay-Variable';
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 40px;
}

/* BOTON */

.boton-primario {
    width: fit-content;
    padding: 12px 24px;
    border: 2px solid #EAEAEA;
    border-radius: 999px;
    text-decoration: none;
    font-family: 'ClashDisplay-Variable';
    font-size: 1.8rem;
    font-weight: 400;
    color: #EAEAEA;
    transition: 0.3; /*te falta una unidad de medida*/
}

.boton-primario:hover {
    background-color: #EAEAEA;
    color: #6E6EFF;
}

/* ESTRELLA */

.estrella {
    width: 240px; /* las medidas van dentro de la etiqueta img, y el alto está mal escrito */
    height: 240 px;
    animation: girar 8s linear infinite;
}

/* PRESENTACIÓN*/
.presentacion {
    min-height: 100vh; /* en pantallas más grandes el contenido se ve descentrado, te falta un justify */
    background: #6E6EFF;
    display: flex;
    padding: 98px 0px 25px 0px;
    flex-direction: column;
    align-items: center;
    gap: 161px; /* el gap casi siempre tiene la misma característica de los paddings y margins: si es mayor a 80px significa que podés usar otras propiedades de flex para llegar al mismo resultado, fijate cómo te va con justify */
    position: relative; /* esto por qué? */
    flex-shrink: 0; /* esto por qué? */
    align-self: stretch;/* esto por qué? */
}

/* CONTENIDO */

.contenido-presentacion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 36px;
    padding: 0px 50px;
}


.info {
    display: flex;
    align-items: flex-start;
    gap: 127px;
    align-self: stretch;
}

/* HOLA */
.info h2 {
    font-family: 'ClashDisplay-Variable';
    font-size: 11.25rem;
    font-weight: 700;
    color: #a7fc00;
    line-height: normal;
}

/* CAJA */

.info p {
    background: #EAEAEA;
    width: fit-content;
    padding: 63px 45px;
    border: 2px solid #262626;
    border-radius: 70px;
    max-width: 655px;
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #262223;
}

.info span {
    color: #6E6EFF;
    font-weight: 600;
}

/* SLIDER INFINITO */
.slider {
    width: 100%;
    overflow: hidden;
}

.slide-track {
    display: flex;
    align-items: center;
    gap: 300px;
    width: max-content;
    animation: scroll 10s linear infinite;
}

.slider-bottom .slide-track {
    animation-direction: reverse;
}

/* ANIMACION */

@keyframes scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


@keyframes girar {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE */

@media(max-width: 500px) {

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 45px;
    }

    h1 {
        font-size: 6rem;
    }

    .info p {
        font-size: 0.7rem;
    }

}