/*CSS Documment*/
@charset "UTF-8";

/*Ajustes Generales*/

@font-face {
    font-family: "ClashDisplay-Extralight";
    src: url(fonts/clash-display/clash-displat-extralight.ttf) format(truetype);
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Light";
    src: url(fonts/clash-display/clash-display-light.ttf) format(truetype);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Regular";
    src: url(fonts/clash-display/clash-display-regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url(fonts/clash-display/clash-display-medium.ttf)format(truetype);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url(fonts/clash-display/clash-display-semibold.ttf) format(truetype);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Bold";
    src: url(fonts/clash-display/clash-display-bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Variable";
    src: url(fonts/clash-display/clash-display-variable.ttf) format(truetype);
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Dx Lactos";
    src: url(fonts/dxlactos-regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Ajustes especificos*/

body {
    background-color: #eaeaea;
}

/* HEADER */
header {
    background: linear-gradient(0deg, #6E6EFF 20%, #262223 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 100px;
}

/* NAVBAR */

nav {
    width: 100%;
    min-width: 500px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo img {
    width: 45px;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #EAEAEA;
    font-size: 1rem;
    font-family: 'ClashDisplay-Variable';
    font-weight: 400;
    transition: 0.3s;
}

/* HOVER */
nav a:hover {
    color: #a7fc00;
}

/* HERO */

.hero {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTENIDO */

.contenido {
    display: flex;
    flex-direction: column;
}

/* LINEA */

.mini-line {
    width: 30px;
    height: 4px;
    background-color: #EAEAEA;
    margin-bottom: 20px;
}

/* TEXTO */

.contenido p {
    color: #EAEAEA;
    font-size: 32px;
    margin-bottom: 20px;
}

.contenido h1 {
    color: #EAEAEA;
    font-family: 'ClashDisplay-Variable';
    font-size: 11.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.contenido h1 span {
    color: #a7fc00;
    font-family: 'Dx Lactos';
    font-size: 11.25rem;
}

.contenido h2 {
    color: #EAEAEA;
    font-family: 'ClashDisplay-Variable';
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 40px;
}

/* BOTON */

.boton-primario {
    width: fit-content;
    padding: 12px 24px;
    border: 3px solid #EAEAEA;
    border-radius: 999px;
    text-decoration: none;
    font-family: 'ClashDisplay-Variable';
    font-size: 1.8rem;
    font-weight: 500;
    color: #EAEAEA;
    transition: 0.3;
    /*te falta una unidad de medida*/
}

.boton-primario:hover {
    background-color: #EAEAEA;
    color: #6E6EFF;
}

/* ESTRELLA */

.estrella {
    animation: girar 8s linear infinite;
    margin-right: 50px;
}

/* PRESENTACIÓN*/
.presentacion {
    height: 110vh;
    max-height: 120vh;
    min-height: 100vh;
    background: #6E6EFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

/* CONTENIDO */

.contenido-presentacion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding: 0px 60px;

}


.info {
    display: flex;
    justify-content:space-between;
    gap: 35vh;
    align-items: flex-start;
}

/* HOLA */
.info h2 {
    font-family: 'ClashDisplay-Variable';
    font-size: 9rem;
    font-weight: 700;
    color: #a7fc00;
    line-height: normal;
}

/* CAJA */

.info p {
    background: #EAEAEA;
    width: fit-content;
    padding: 63px 45px;
    border: 2px solid #262626;
    border-radius: 70px;
    max-width: 655px;
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #262223;
}

.info span {
    color: #6E6EFF;
    font-weight: 600;
}

/* SLIDER INFINITO */
.slider {
    width: 100%;
    overflow: hidden;
}

.slide-track {
    display: flex;
    align-items: center;
    gap: 300px;
    width: max-content;
    animation: scroll 10s linear infinite;
}

.slider-bottom .slide-track {
    animation-direction: reverse;
}

/*PROYECTOS DESTACADOS*/
.proyectos-destacados {
    padding: 100px 80px 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 103px;
}

.titular {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titular img {
    animation: girar 10s linear infinite;
}

.mini-line-2 {
    width: 49px;
    height: 6px;
    background: #DF73FF;
}

.mi-trabajo p {
    color: var(--NEGRO-MEL, #262223);
    font-family: "Fira Code";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 104px;
    align-items: flex-start;
}

.izquierda h2 {
    display: flex;
    flex-direction: column;
    color: var(--NEGRO-MEL, #262223);
    font-family: "Dx Lactos";
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.izquierda h2 span {
    color: var(--NEGRO-MEL, #262223);
    font-family: "Clash Display Variable";
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 8.75rem;
}

.proyectos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 60px;
    gap: 41px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 50px;
}

/*TARJETA 1*/

.card-1 {
    transition: 0.4s ease;
}

.card-1:hover {
    background-image: url("img/index-img/card-1-foto.png");
    transform: scale(1.05);
}

.card-1-contenido {
    transition: opacity 0.3s;
}

.card-1:hover .card-1-contenido {
    opacity: 0;
}

/*TARJETA 2*/

.card-2 {
    transition: 0.4s ease;
}

.card-2:hover {
    background-image: url("img/index-img/card-2-foto.png");
        transform: scale(1.05);
}

.card-2-contenido {
    transition: opacity 0.3s;
}

.card-2:hover .card-2-contenido {
    opacity: 0;
}

/*TARJETA 3*/

.card-3 {
    transition: 0.4s ease;
}

.card-3:hover {
    background-image: url("img/index-img/card-3-foto.png");
    transform: scale(1.05);
}

.card-3-contenido {
    transition: opacity 0.3s;
}

.card-3:hover .card-3-contenido {
    opacity: 0;
}

/*TARJETA 4*/
.card-4 {
    transition: 0.4s ease;
}

.card-4:hover {
    background-image: url("img/index-img/card-4-foto.png");
    transform: scale(1.05);
}

.card-4-contenido {
    transition: opacity 0.3s;
}

.card-4:hover .card-4-contenido {
    opacity: 0;
}


.boton-secundario {
    width: fit-content;
    padding: 12px 24px;
    border: 2px solid #262223;
    border-radius: 999px;
    text-decoration: none;
    font-family: 'ClashDisplay-Variable';
    font-size: 1.8rem;
    font-weight: 400;
    color: #262626;
    transition: 0.3;
}

.boton-secundario:hover {
    border: 2px linear-gradient(90deg, #6E6EFF 20%, #262223 100%);
    background: var(--Gradiente-botones, linear-gradient(90deg, #6E6EFF 20%, #262223 100%));
    color: #EAEAEA;
}

/* ANIMACION */

@keyframes scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


@keyframes girar {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE */
